@reference "../../app/globals.css";

.cm-breakpoint-gutter .cm-gutterElement {
    @apply flex;
}
.cm-idle-marker,
.cm-breakpoint-marker {
    width: 20px;
    cursor: pointer;
    display: grid;
    place-content: center;

    &:after {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: "";
    }
}

.cm-breakpoint-marker {
    &:after {
        background: var(--color-amber-500);
    }
}

.cm-idle-marker {
    &:after {
        opacity: 0;
        background: var(--color-amber-500);
    }

    &:hover,
    &.hovered-idle-marker {
        &:after {
            opacity: 0.7;
        }
    }
}

.cm-editor {
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
    text-align: left;
    width: 100%;
    color: var(--color-text-secondary);
    font-size: 16px;

    .cm-cursor {
        border-color: var(--color-text-primary);
    }

    .cm-scroller {
        font-family: "Source Code Pro", "Courier New", Courier, monospace;
    }
    .cm-foldGutter .cm-foldGutter span {
        display: none;
    }

    .cm-gutters {
        background: var(--color-background-primary);
        @apply border-r-0;
        transition: background-color 0.3s ease;
    }
    .cm-lineNumbers .cm-gutterElement,
    .cm-foldGutter,
    .cm-icon-container-gutter .cm-gutterElement {
        @apply grid items-center;
    }

    .cm-icon-container-gutter .cm-gutterElement {
        /* @apply px-4; */
    }
    .cm-lockedGutter {
        .cm-lock-marker {
            background-image: url("/icons/readonly-lock.svg");
            background-size: 80%;
            @apply bg-no-repeat bg-center;
            @apply opacity-[0.4];
        }
    }

    .cm-foldGutter {
        .cm-gutterElement {
            @apply grid place-items-center w-[16px];
        }
        span {
            @apply block text-20 leading-100 mb-[4px];
            color: rgba(0, 128, 255, 0.7);
            &:hover {
                color: rgba(0, 128, 255, 1);
            }
        }
    }
    .cm-foldPlaceholder {
        @apply px-6 mx-10;
        @apply border-1 border-[#0080FF];
        @apply text-[#0080FF];
        background: rgba(0, 128, 255, 0.05);
        @apply text-16;
    }
    .cm-line {
        padding: 2px 2px 2px 4px;
    }
    .cm-lockedLine,
    .cm-lockedGutter {
        background: var(--color-background-secondary);
    }
    .Í¼1 .cm-underline {
        text-decoration: none;
        border-bottom: 2px solid red;
        background: rgba(255, 0, 0, 0.2);
    }
}

.cm-lineNumbers {
    .cm-gutterElement {
        @apply pr-8 pl-12;
    }
    text-align: right;
}

.cm-content {
    outline: none !important;
}

.cm-line {
    /* display: flex;
      align-items: center; */
}

.cm-tooltip {
    border: none !important;
}

.cm-highlightedLine {
    @apply relative;
    background: var(--highlighted-line-background-color);
    outline: 1.5px solid var(--highlighted-line-border-color);
    border-radius: 2px;
    @apply mx-[2px];
    padding-left: 2px !important;
    &.cm-activeLine {
        background-color: #d6ecfa80;
    }
}
