.cm-breakpoint-gutter .cm-gutterElement {
    @apply flex;
}
.cm-idle-marker,
.cm-breakpoint-marker {
    width: 20px;
    cursor: pointer;
    display: grid;
    place-content: center;

    &:after {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: "";
    }
}

.cm-breakpoint-marker {
    &:after {
        background: var(--color-orange);
    }
}

.cm-idle-marker {
    &:after {
        opacity: 0;
        background: var(--color-orange);
    }

    &:hover,
    &.hovered-idle-marker {
        &:after {
            opacity: 0.7;
        }
    }
}

.editor-wrapper {
    width: 800px;
    overflow: hidden;
    @apply h-[60%] flex-grow-0;
    @apply rounded-5;
    @apply border-2 border-bootcamp-light-purple;
}

.editor {
    width: 800px;
    height: 100%;
    background: var(--color-background-primary);
    overflow-y: auto;
    @apply flex flex-grow;
    transition: background-color 0.3s ease;

    .cm-gutters {
        background: var(--color-background-primary);
        @apply border-r-0;
        transition: background-color 0.3s ease;
    }
    .cm-lineNumbers .cm-gutterElement,
    .cm-foldGutter,
    .cm-icon-container-gutter .cm-gutterElement {
        @apply grid items-center;
    }

    .cm-icon-container-gutter .cm-gutterElement {
        /* @apply px-4; */
    }
    .cm-lockedGutter {
        .cm-lock-marker {
            background-image: url("/icons/readonly-lock.svg");
            background-size: 80%;
            @apply bg-no-repeat bg-center;
            @apply opacity-[0.4];
        }
    }

    .cm-foldGutter {
        .cm-gutterElement {
            @apply grid place-items-center w-[16px];
        }
        span {
            @apply block text-20 leading-100 mb-[4px];
            color: rgba(0, 128, 255, 0.7);
            &:hover {
                color: rgba(0, 128, 255, 1);
            }
        }
    }
    .cm-foldPlaceholder {
        @apply px-6 mx-10;
        @apply border-1 border-[#0080FF];
        @apply text-[#0080FF];
        background: rgba(0, 128, 255, 0.05);
        @apply text-16;
    }
    .cm-line {
        padding: 2px 2px 2px 4px;
    }
    .cm-lockedLine,
    .cm-lockedGutter {
        background: var(--color-background-secondary);
    }
    .ͼ1 .cm-underline {
        text-decoration: none;
        border-bottom: 2px solid red;
        background: rgba(255, 0, 0, 0.2);
    }
}
.cm-editor {
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
    text-align: left;
    width: 100%;
    color: var(--color-text-secondary);
    font-size: 16px;

    .cm-cursor {
        border-color: var(--color-text-primary);
    }

    .cm-scroller {
        font-family: "Source Code Pro", "Courier New", Courier, monospace;
    }
    .cm-foldGutter .cm-foldGutter span {
        display: none;
    }
}
.cm-lineNumbers {
    .cm-gutterElement {
        @apply pr-8 pl-12;
    }
}

.cm-content {
    outline: none !important;
}

.declaration-arrow {
    position: absolute;
}

.cm-line {
    /* display: flex;
      align-items: center; */
}

.custom-tooltip {
    font-family: Poppins;
    font-size: 14px;
    padding: 4px;
    color: var(--color-text-primary);
    line-height: 160%;
    background: var(--color-warning-bg);
    border-radius: 8px;
}

.cm-tooltip {
    border: none !important;
}

.cm-lineNumbers {
    text-align: right;
}

.cm-highlightedLine {
    @apply relative;
    background: var(--highlighted-line-background-color);
    outline: 1.5px solid var(--highlighted-line-border-color);
    border-radius: 2px;
    @apply mx-[2px];
    padding-left: 2px !important;
    &.cm-activeLine {
        background-color: #d6ecfa80;
    }
}

.information-tooltip {
    max-width: 450px;
    max-height: 80vh;
    transition: opacity 0.3s;
    @apply z-tooltip;
    /* pointer-events: none; */
    @apply text-16 leading-150;
    @apply absolute rounded-8 opacity-0 flex;

    /* Needed to stop scroll bar from killing the border */
    @apply py-2 pr-2;

    .content {
        @apply py-16 px-20;
        @apply overflow-auto;
    }

    code {
        overflow-wrap: break-word;
        &[data-hl-from] {
            cursor: help;
        }
    }

    & :not(pre) > code {
        @apply bg-thick-border-blue px-[6px] py-[1px] rounded-5;
    }

    pre + p {
        @apply mt-6;
    }
    pre {
        @apply mt-2;
    }

    p:not(:last-child) {
        @apply mb-10;
    }
    ul {
        @apply list-disc ml-20;
        li {
        }
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid;

        content: "";
        position: absolute;
        top: 6px;
        left: -10px;
    }

    &.description {
        @apply bg-surface-elevated text-link-primary border-2 border-info-border;

        filter: drop-shadow(0px 4px 8px rgba(79, 114, 205, 0.5));

        .tooltip-arrow {
            border-right-color: var(--color-info-border);
        }

        hr {
            @apply my-12 opacity-[0.5];
        }
        h3 {
            @apply font-medium mb-4;
        }
    }

    &.error {
        @apply bg-surface-elevated border-2 border-error-border;

        @apply p-0;

        filter: drop-shadow(0px 4px 8px rgba(79, 114, 205, 0.5));

        h2 {
            @apply text-error-text;
            @apply font-semibold;
            @apply py-8 px-20;
            @apply relative z-tooltip-content bg-error-bg;
            @apply rounded-t-[6px];

            .tooltip-close {
                @apply float-right -mr-10;
            }
        }
        .content {
            @apply rounded-6;
            @apply text-text-primary;
            @apply pt-10 px-20 pb-12;
            @apply relative z-tooltip-content bg-surface-elevated;
            @apply rounded-b-8;
            & > *:first-child {
                margin-top: 0;
            }
            & > *:last-child {
                margin-bottom: 0;
            }
        }
        & > .content {
            @apply p-0;
        }

        .tooltip-arrow {
            border-right-color: var(--color-error-border);
        }
    }
}

.c-scenario {
    @apply border-2 rounded-5;
    @apply overflow-hidden;
    @apply flex justify-between flex-grow;

    .scenario-lhs {
        @apply border-r-2 border-bootcamp-light-purple;
        @apply flex flex-col;

        .scenario-lhs-content {
            @apply overflow-auto; /* Needed to ensure the scrubber shows */
            @apply flex-grow;
            @apply flex flex-col;

            @apply py-16 px-12;

            h3 {
                @apply text-16 leading-140;
                @apply mb-12;
                strong {
                    @apply font-semibold;
                }
            }
            .description {
                @apply text-16 leading-140 font-normal;
                @apply mb-12;
                strong {
                    @apply font-semibold;
                }
            }
            .success-message {
                @apply text-16 leading-140 font-normal;
                @apply mb-12;
                @apply flex items-center gap-8;
                img {
                    @apply w-[20px] h-[20px];
                    @apply inline-block;
                }
                strong {
                    @apply font-semibold;
                }
            }
            .error-message {
                @apply text-16 leading-140 font-normal;
                @apply text-dark-red;
                @apply mb-12;
                @apply flex items-center gap-8;
                img {
                    @apply w-[20px] h-[20px];
                    @apply inline-block;
                    @apply border-[2px] rounded-circle;
                    background-color: rgba(235, 87, 87, 0.15);

                    border-color: rgba(235, 87, 87);
                }
                strong {
                    @apply font-semibold;
                }
            }
            p,
            .content {
                @apply text-16 leading-140;
                @apply mb-8;
            }
        }
    }

    &.pending {
        @apply border-blue-300;
        .scenario-lhs {
            @apply bg-blue-100;
        }
    }
    &.pass {
        @apply border-bootcamp-success-dark;
        .scenario-lhs {
            @apply bg-bootcamp-success-light;
        }
    }
    &.fail {
        @apply border-bootcamp-fail-dark;
        .scenario-lhs {
            @apply bg-bootcamp-fail-light;
        }

        span.added-part,
        span.removed-part {
            @apply whitespace-pre;
        }
        span.added-part {
            @apply bg-bootcamp-success-light;
            @apply border-b-1 border-bootcamp-success-dark;
        }
        span.removed-part {
            @apply bg-bootcamp-fail-light;
            @apply border-b-1 border-bootcamp-fail-dark;
        }
    }
    .io-test-result-info {
        border-spacing: 6px;
        border-collapse: separate;
        tr {
            th,
            td {
                @apply text-16 leading-140;
                @apply bg-bg-primary;
                @apply py-10 px-10;
            }
            th {
                @apply rounded-l-5;
                @apply text-left font-normal whitespace-nowrap;
                @apply w-[1px];
            }
            td {
                @apply rounded-r-5;
                @apply font-mono text-15;
            }
        }
    }
}

.scenario-rhs {
    @apply h-fill overflow-auto;

    &.javascript {
        @apply h-[80%];
    }
    @apply py-16 px-20;
    h3 {
    }

    .Typewriter__wrapper {
        p {
            display: inline;
        }
    }
}

.test-selector-buttons {
    @apply flex gap-x-4;

    .test-button {
        @apply flex-shrink-0;
    }

    &.bonus {
        &:before {
            content: "⋮";
            vertical-align: middle;
            text-align: center;
            font-size: 30px;
            color: rgba(112, 41, 245, 0.3);
            line-height: 40px;
            @apply mr-2;
        }

        .test-button {
            letter-spacing: 2px;
        }
    }
}
.test-button {
    @apply relative p-4 w-[40px] h-[40px] grid place-content-center;
    transition: background-color 0.3s ease-out;
    @apply font-medium;

    @apply border-2 rounded-3;
    @apply bg-no-repeat;

    &.idle {
        @apply border-border-primary;
        background-color: var(--color-background-primary);
        &.selected {
            @apply border-bootcamp-purple;
        }
        &:after {
            @apply border-t-6 border-bootcamp-purple;
        }
    }

    &.pass {
        border-color: #ddefe6;
        @apply bg-bootcamp-success-light;
        @apply text-bootcamp-success-dark;
        background-image: url("/icons/bootcamp-tick-green.svg");
        background-size: 12px;
        background-position: 24px 0px;
        &.selected {
            @apply border-bootcamp-success-dark;
        }
        &:after {
            @apply border-t-6 border-bootcamp-success-dark;
        }
    }

    &.fail {
        border-color: var(--color-error-border);
        background-color: var(--color-error-bg);
        @apply text-bootcamp-fail-text;
        background-image: url("/icons/bootcamp-cross-red.svg");
        background-size: 9px;
        background-position: 25px 2px;
        &.selected {
            @apply border-bootcamp-fail-dark;
        }
        &:after {
            @apply border-t-6 border-bootcamp-fail-dark;
        }
    }

    &.selected {
        @apply relative;
        @apply font-semibold;

        &:after {
            content: "";

            @apply absolute bottom-[-10px] left-[50%];
            transform: translateX(-50%);
            z-index: 100;

            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }
    }
}
