.header {
    margin-bottom: 24px;
}

.title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 13px;
    color: var(--color-gray-950);
    display: flex;
    align-items: center;
    gap: 12px;
    text-wrap-style: balance;
}

.title svg {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    color: var(--color-blue-500);
}

.description {
    font-size: 18px;
    color: var(--color-gray-600);
    margin-bottom: 0;
    text-wrap-style: balance;
}
