.nav {
    color: var(--color-gray-200);
    width: 100%;
    background: rgb(13, 18, 33);
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #702af4;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    .exercism-face {
        width: 28px;
        height: 24px;
    }

    .logo {
        height: 38px;
        width: auto;
    }

    .first-session {
        font-size: 15px;
        font-weight: 600;
        line-height: 100%;
        margin-left: auto;
        border-bottom-width: 1px;
        border-color: #ffffffaa;
    }

    .button {
        display: flex;
        align-items: center;
        gap: 2px;
        background-color: #fff;
        border-color: var(--color-gray-700);
        font-weight: 600;
        color: var(--color-gray-800);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease-out;
        border-color: var(--color-purple-700);
    }
    .loginButton {
        margin-left: auto;
    }
    .enrollButton {
        margin-left: 10px;
        gap: 6px;
    }

    &.nav-sticky {
        height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        background-color: #702af4;
        position: fixed;
        top: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        transition:
            background-color 0.3s ease-out,
            opacity 0.3s ease-out,
            color 0.3s ease-out;

        &.on-purple {
            background-color: white;
            color: black;

            .button {
                background-color: #702af4;
                color: #fff;
            }
        }
    }
}
