.learningPath {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px 0 150px 0;
    position: relative;
    margin-left: 10px;
    margin-right: -45px;
    padding-left: 20px;
    padding-right: 30px;
}
