/* ============================================================================
   GALLERY LAYOUT
   ============================================================================ */

.badgesGallery {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
