/* ============================================================================
   GALLERY LAYOUT
   ============================================================================ */

.badgesGallery {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    .badgesGallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .badgesGallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
