.iconContainer {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--color-red-50);

    svg {
        width: 32px;
        height: 32px;
        color: var(--color-red-500);
    }
}

.homeLink {
    margin-top: 24px;
    color: var(--color-blue-600);
    text-decoration: none;
    font-weight: 500;
}

.homeLink:hover {
    text-decoration: underline;
}
