.mainContent {
    flex: 1;
    max-width: 62.875%;
    padding: 10px 50px 40px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}